<div class="container">
    <div class="section fitted-width">
        <nav class="level">
            <div class="level-item has-text-centered">
                <div class="title">Total Responses</div>
            </div>
        </nav>
        
        <div class="scrollable-width-table">
            <table class="table is-responsive" >
                <thead>
                    <tr>
                        <th *ngFor="let fieldName of responseFields">{{ fieldName }}</th>
                    </tr>
                </thead>
                <tbody>                   
                    <tr *ngFor="let response of surveyResponseList">
                        <td *ngFor= "let name of responseFields">{{utilService.makeString(response[name])}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <nav class="level">
            <div class="level-item has-text-centered">
                <div class="title">Industries</div>
            </div>
        </nav>
        <div class="scrollable-width-table">
            <table class="table is-responsive" >
                <thead>
                    <tr>
                        <th *ngFor="let fieldName of industryFields">{{ fieldName }}</th>
                    </tr>
                </thead>
                <tbody>                   
                    <tr *ngFor="let industry of industriesList">
                        <td *ngFor= "let name of industryFields">{{utilService.makeString(industry[name])}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <nav class="level">
            <div class="level-item has-text-centered">
                <div class="title">Companies</div>
            </div>
        </nav>
        <div class="scrollable-width-table">
            <table class="table is-responsive" >
                <thead>
                    <tr>
                        <th *ngFor="let fieldName of companiesFields">{{ fieldName }}</th>
                    </tr>
                </thead>
                <tbody>                   
                    <tr *ngFor="let company of companiesList">
                        <td *ngFor= "let name of companiesFields">{{utilService.makeString(company[name])}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>