<nav class="navbar is-white">

    <!-- logo -->
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/img/purro-logo.png">
      </a>
    </div>
  
    <!-- menu -->
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="">Home</a>
        <a class="navbar-item">Profile</a>
        <a class="navbar-item">Log in</a>
        <a class="navbar-item" routerLink="dev-page">Dev Page</a>
      </div>
    </div>
  
  </nav>
  <hr/>
